name: Release
on:
  push:
    branches: [main]

permissions:
  contents: write
  pull-requests: write
  id-token: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  release-please:
    runs-on: ubuntu-24.04
    environment: main
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
    steps:
      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release
        with:
          release-type: python
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
